/*for desktop*/
.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.first{
	min-height: 150vh;
	background-position: center;
}

.title{
	margin-left: 100px;
}

.menu{
	display: none;
}
.sub-menu2{
	display: block;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	position: relative;
}

.sub-menu2 li{
	margin: 0 5px;
}

.sub-menu2 a{
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	font-weight: bolder;
}

.second{
	min-height: 180vh;
}

.second .desc{
	margin-top: 100px;

}

.desc p{
	width: 90%;
}

.address{
	width: 91%;
}

.address ul::after{
	clear: both;
	content: '';
	display: table;
}

.third{
	padding: 110px;
	min-height: 210vh;;
}

.ser{
	width: 30%;
	float: left;
	margin-right: 3.33%;
}